In [6]:
#Import the dependnncies
import pandas as pd
import requests
import gmaps
#import api key
from config import g_key

In [7]:
city_data_df=pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Severo-Kurilsk,RU,2022-02-02 06:45:33,50.6789,156.1250,24.94,81,68,4.43
1,1,Atuona,PF,2022-02-02 06:45:34,-9.8000,-139.0333,78.73,76,11,20.00
2,2,Rikitea,PF,2022-02-02 06:45:34,-23.1203,-134.9692,78.53,67,100,3.76
3,3,Linxia,CN,2022-02-02 06:45:35,35.6003,103.2064,26.91,62,70,2.53
4,4,Hithadhoo,MV,2022-02-02 06:45:36,-0.6000,73.0833,82.87,70,6,9.62

In [8]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations=city_data_df[['Lat','Lng']]
#Get the maximum temperature 
max_temp=city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
 #   temps.append(max(temp, 0))

# Assign the figure variable.
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign the heatmap variable
#heat_layer=gmaps.heatmap_layer(locations, weights=temps)
#Another way of using for loop
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of Humidity
# Get the latitude and longitude.
locations=city_data_df[['Lat','Lng']]
#Get the maximum temperature 
humidity=city_data_df["Humidity"]


# Assign the figure variable.
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign the heatmap variable

heat_layer = gmaps.heatmap_layer(locations, weights= humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of Cloudiness
# Get the latitude and longitude.
locations=city_data_df[['Lat','Lng']]
#Get the maximum temperature 
clouds=city_data_df["Cloudiness"]


# Assign the figure variable.
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign the heatmap variable

heat_layer = gmaps.heatmap_layer(locations, weights= clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of Wind speed
# Get the latitude and longitude.
locations=city_data_df[['Lat','Lng']]
#Get the maximum temperature 
wind_speed=city_data_df["Wind Speed"]


# Assign the figure variable.
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign the heatmap variable

heat_layer = gmaps.heatmap_layer(locations, weights= wind_speed, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2022-02-02 06:45:34,-9.8000,-139.0333,78.73,76,11,20.00
2,2,Rikitea,PF,2022-02-02 06:45:34,-23.1203,-134.9692,78.53,67,100,3.76
4,4,Hithadhoo,MV,2022-02-02 06:45:36,-0.6000,73.0833,82.87,70,6,9.62
17,17,Bandrele,YT,2022-02-02 06:45:41,-12.9067,45.1914,87.55,74,20,6.91
26,26,Bambous Virieux,MU,2022-02-02 06:45:46,-20.3428,57.7575,84.45,84,75,26.46
35,35,Avarua,CK,2022-02-02 06:45:49,-21.2078,-159.7750,78.85,89,20,9.22
37,37,Parana,AR,2022-02-02 06:40:56,-31.7320,-60.5238,77.56,70,100,9.69
38,38,Kavieng,PG,2022-02-02 06:45:51,-2.5744,150.7967,82.80,71,95,8.52
39,39,Isangel,VU,2022-02-02 06:45:51,-19.5500,169.2667,79.25,85,100,5.21
41,41,Vaini,TO,2022-02-02 06:45:52,-21.2000,-175.2000,82.56,78,20,6.91

In [20]:
preferred_cities_df.count()

City_ID       134
City          134
Country       133
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1            Atuona      PF     78.73  -9.8000 -139.0333
2           Rikitea      PF     78.53 -23.1203 -134.9692
4         Hithadhoo      MV     82.87  -0.6000   73.0833
17         Bandrele      YT     87.55 -12.9067   45.1914
26  Bambous Virieux      MU     84.45 -20.3428   57.7575
35           Avarua      CK     78.85 -21.2078 -159.7750
37           Parana      AR     77.56 -31.7320  -60.5238
38          Kavieng      PG     82.80  -2.5744  150.7967
39          Isangel      VU     79.25 -19.5500  169.2667
41            Vaini      TO     82.56 -21.2000 -175.2000

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,78.73,-9.8000,-139.0333,Villa Enata
2,Rikitea,PF,78.53,-23.1203,-134.9692,People ThankYou
4,Hithadhoo,MV,82.87,-0.6000,73.0833,Scoop Guest House
17,Bandrele,YT,87.55,-12.9067,45.1914,Les Baobabs
26,Bambous Virieux,MU,84.45,-20.3428,57.7575,Casa Tia Villa
...,...,...,...,...,...,...
547,Kawalu,ID,87.80,-7.3817,108.2082,KOSAN UNGU UNSIK
548,Kaili,ID,77.23,-3.4626,120.2147,
556,Sola,VU,79.21,-13.8833,167.5500,Leumerus Bungalows
559,Ilebo,CD,76.96,-4.3167,20.5833,Hôtel BUMAK
562,Karratha,AU,88.45,-20.7377,116.8463,ibis Styles Karratha

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [30]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))